<!-- begin scroll page-control -->
<ul class="page-control">
  <li class="page-control__item"></li>
  <li class="page-control__item"></li>
  <li class="page-control__item"></li>
  <li class="page-control__item"></li>
</ul>
<!-- end scroll page-control -->
<div class="main">

<!-- begin welcome section -->
  <section class="welcome">
    <div class="col-md-10 text-center">
      <div class="logo-box">
        <div class='img-logo-box'>
          <%= image_tag("animation-3.gif", alt: "logo") %>
        </div>
        <div>
          <h2 id="super_name"> Young Generation </h2>
          <h3 id="slogan"> We create the feature </h3>
        </div>
      </div>
      <div class="arrow">
          <a href="JavaScript:void(0);">
            <span id="to-the-end" class="bottom"></span>
          </a>
      </div>
    </div>
  </section>
<!-- end welcome section -->

<!--begin 2-nd section -->
  <section class="page-2">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center second-section"></div>
  </section>
<!-- end 2-nd section -->

<!-- begin 3-rd section -->
  <section class="page-3">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center"></div>
  </section>
<!-- end 3-rd section -->

<!-- begin last section -->
  <section class="last-section row col-condensed">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8 text-center margin-style ">
      <div class="arrow">
        <a href="JavaScript:void(0);">
          <span id="to-the-begin" class="top"></span>
        </a>
      </div>
    </div>
  </section>
<!-- end last section -->
</div>
