html, .page {
    font-family: Arial;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main {
    width: 100%;
    height: 100%;
}
.link {
    text-decoration: none;
    color: #000;
}
.menu-line {
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}
.menu__item {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #000;
}
.text-block {
    width: 800px;
}
.item__description {
    margin: 0 auto;
    margin-top: 200px;
}
.page-control__item {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    height: 5px;
    width: 5px;
    margin: 30px 0px;
    background: rgb(255, 255, 255);
}
.page-control {
    left: 0;
    top:40%;
    list-style: none;
    position: fixed;
    z-index: 1;
}
.ui-page-scrolling-control_active {
    width: 10px;
    height: 10px;
    margin-left:-3px;
    border: 2px solid #ac3697;
    background-color: transparent;
}
.text-block__line {
    display: block;
    font-size: 1.3em;
    line-height: 150%;
}
.text-block__line_code {
    display: black;
    color: #0271c7;
}

.text-block__header {
    font-size: 35px;
}
/* scrolling styles*/
.ui-page-scrolling-section {
    position: absolute;
    width: 100%;
    height: 100%;

}
.ui-page-scrolling-control {
    cursor: pointer;
}
.ui-page-scrolling-main {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style : preserve-3d;
}
/* scrolling styles*/
